@page
@model basakitaa.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.id" />
            <div class="form-group">
                <label asp-for="User.nama" class="control-label"></label>
                <input asp-for="User.nama" class="form-control" />
                <span asp-validation-for="User.nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.jeniskelamin" class="control-label"></label>
                <input asp-for="User.jeniskelamin" class="form-control" />
                <span asp-validation-for="User.jeniskelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.tanggallahir" class="control-label"></label>
                <input asp-for="User.tanggallahir" class="form-control" />
                <span asp-validation-for="User.tanggallahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.alamat" class="control-label"></label>
                <input asp-for="User.alamat" class="form-control" />
                <span asp-validation-for="User.alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.email" class="control-label"></label>
                <input asp-for="User.email" class="form-control" />
                <span asp-validation-for="User.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.password" class="control-label"></label>
                <input asp-for="User.password" class="form-control" />
                <span asp-validation-for="User.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
